
.task-item {
    -fx-border-color: rgba(255,255,255,0.25);
    -fx-border-style: solid;
    -fx-border-width: 0 0 1px 0;
}

.tick .box {
    -fx-background-color: transparent;
    -fx-border-color: #F05228;
    -fx-background-insets: 0;
    -fx-border-radius: 2;
    -fx-border-width: 2;
}

.tick:selected .mark {
    -fx-background-color: transparent;
    -fx-background-image: url("../assets/checked.png");
}


.tick .mark {
    -fx-background-position: center;
    -fx-background-repeat: stretch;
    -fx-shape: null;
}
